.header {
  margin-bottom: 30px;
  margin-top: 20px;
}

.header h1 {
  margin: 20px 0;
}
.nav {
  background-color: black;
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav li:first-child {
  margin-left: 5px;
}

.nav li {
  margin-right: 10px;
}
.nav li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.nav li a.active {
  border: 1px solid currentColor;
  padding: 0.3rem;
}
.login {
  color: white;
  font-size: 16px;
  margin-left: auto;
}
.Errorpage {

  background-color: #ccc;
    height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    text-transform: capitalize;
}
.Errorpage h1 {
  color: red;
  font-size: 2rem;
  padding: 1rem;

}

.Errorpage p {

  font-size: 3rem;

}